*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.pyc
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
jlcenv
*.sqlite3
jlc_api/quickstart/migrations/[0-9][0-9][0-9][0-9]_*.py

